@import-normalize;
@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto bg-contain
  hover:bg-purple-600 dark:bg-gray-800 
  text-purple-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }
  .main-body{
    @apply w-3/4 bg-gray-700 flex text-purple-200 flex-col place-content-end;
  }

  .message-list{
    @apply ml-3 mb-3;
  }
  .send-button{
    @apply w-8 mt-2 mr-2 h-8 justify-self-center ml-5 rotate-90 text-gray-400 hover:text-gray-100;
  }
  .message-input{
    @apply w-4/6 h-12 mb-4 ml-4 bg-gray-600 placeholder-gray-500 appearance-none rounded-md text-gray-400 leading-tight focus:outline-none;
  }
  .input-message{
    @apply bg-gray-600 placeholder-gray-400 appearance-none rounded-md w-full py-3 px-4 text-gray-100 leading-tight focus:outline-none;
  }

  .thread-list-main{
    @apply flex flex-col min-h-screen rounded-tl-2xl w-1/4 bg-gray-800 ml-16 text-white ;
  }

  .channel-title{
    @apply h-14 px-3 pb-3 pt-3
     text-white font-bold text-xl text-left 
    border-b-2 border-gray-900 shadow-2xl;
  }

  .thread-item{
    @apply mx-2 my-1 px-2 py-2 text-gray-400 text-left
    hover:bg-gray-700 font-semibold rounded-sm ;
  }

  .messege-super{

  }
  .profilePic{
    @apply w-8 h-8 bg-contain rounded-3xl;
  }
  .username{
    @apply ml-2 font-semibold
  }
  .messege{
    @apply ml-6 
  }

  .add-thread-button{ 
    @apply px-2 mx-3 my-2 bg-purple-600 hover:bg-purple-700 text-white font-bold py-2 rounded shadow-lg hover:shadow-xl transition duration-200
  }
  .thread-list-super{
    @apply flex flex-col h-full 
  }
}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}